<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Submission Classifier</title>
    </head>
    <body>
        <center>
            <h1>Submission Classifier</h1>
        </center>

        <ul align="left">
        {% set counter = 0 -%}
        {% for tag in category -%}
            <li><h2>{{ tag }}</h2></li>
                <table width="100%">
                    <th>Problem-Name</th>
                    <th>Submission-Link</th>
                    <th>Local-Link</th>
                {% set counter = 0 -%}
                {% for name in category[tag] -%}
                        <tr width = "100%">
                           <td width = "33%">
                               <b><a href="{{ links[name] }} "> {{ name }} </a></b>
                           </td>
                           <td width = "33%">
                               <i><a href="{{ submission[name] }}"> Submission-link </a></i>
                           </td>
                           <td width = "33%">
                               <i><a href="{{ local[name] }}"> Local-link </a></i>
                           </td>
                        </tr>
                    {% set counter = counter + 1 -%}
                {% endfor -%}
                </table>
            <br>
        {% set counter = counter + 1 -%}
        {% endfor -%}
        </ul>
    </body>
</html>