<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Proba</title>
</head>
<body>
<center>
    <h1>Problem</h1>
    <p>0 links</p>
</center>
<ol align="left">
<li>implementation</li>
<h6> <a href = "http://codeforces.com/contest/255/problem/A "> Greg's Workout </a></h6>
<h6><a href="http://codeforces.com/contest/255/submission/6358968"> Submission</a> </h6> 
<h6> <a href = "http://codeforces.com/contest/59/problem/A "> Word </a></h6>
<h6><a href="http://codeforces.com/contest/59/submission/6358916"> Submission</a> </h6> 
<h6> <a href = "http://codeforces.com/contest/116/problem/A "> Tram </a></h6>
<h6><a href="http://codeforces.com/contest/116/submission/6334536"> Submission</a> </h6> 
<h6> <a href = "http://codeforces.com/contest/158/problem/A "> Next Round </a></h6>
<h6><a href="http://codeforces.com/contest/158/submission/6334513"> Submission</a> </h6> 
<li>greedy</li>
<h6> <a href = "http://codeforces.com/contest/624/problem/B "> Making a String </a></h6>
<h6><a href="http://codeforces.com/contest/624/submission/16040277"> Submission</a> </h6> 
<li>brute force</li>
<h6> <a href = "http://codeforces.com/contest/25/problem/A "> IQ test </a></h6>
<h6><a href="http://codeforces.com/contest/25/submission/6359042"> Submission</a> </h6> 
<h6> <a href = "http://codeforces.com/contest/4/problem/A "> Watermelon </a></h6>
<h6><a href="http://codeforces.com/contest/4/submission/6334474"> Submission</a> </h6> 
<li>sortings</li>
<h6> <a href = "http://codeforces.com/contest/624/problem/B "> Making a String </a></h6>
<h6><a href="http://codeforces.com/contest/624/submission/16040277"> Submission</a> </h6> 
<li>constructive algorithms</li>
<h6> <a href = "http://codeforces.com/contest/625/problem/B "> War of the Corporations </a></h6>
<h6><a href="http://codeforces.com/contest/625/submission/16039797"> Submission</a> </h6> 
<li>strings</li>
<h6> <a href = "http://codeforces.com/contest/625/problem/B "> War of the Corporations </a></h6>
<h6><a href="http://codeforces.com/contest/625/submission/16039797"> Submission</a> </h6> 
<h6> <a href = "http://codeforces.com/contest/59/problem/A "> Word </a></h6>
<h6><a href="http://codeforces.com/contest/59/submission/6358916"> Submission</a> </h6> 
<h6> <a href = "http://codeforces.com/contest/71/problem/A "> Way Too Long Words </a></h6>
<h6><a href="http://codeforces.com/contest/71/submission/6334485"> Submission</a> </h6> 
<li>math</li>
<h6> <a href = "http://codeforces.com/contest/624/problem/A "> Save Luke </a></h6>
<h6><a href="http://codeforces.com/contest/624/submission/16040027"> Submission</a> </h6> 
<h6> <a href = "http://codeforces.com/contest/4/problem/A "> Watermelon </a></h6>
<h6><a href="http://codeforces.com/contest/4/submission/6334474"> Submission</a> </h6> 
</ol>
</body>
</html>
