#mainContent {
    /*background-color: white;*/
    display: inline-block;
    width: 100%;
    opacity: 0.9;
    margin: 0;
    padding: 0;

    z-index: 10;
}

#title {
    position: relative;
    z-index: 20;
    display: table;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: white;

    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #34495E;
    border-radius: 0.2rem 0.2rem 0 0;
    font-size: 1.5rem;

    -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.75);
}

#title span:first-child {
    font-family: 'Catamaran', sans-serif;
    font-size: 4rem;
}

#title span {
    font-family: 'Catamaran', sans-serif;
    display: table-row;
}

.tagDiv {
    position: relative;
    font-size: 1.5rem;
    z-index: 11;
    display: block;
    margin: 2.0rem;
    margin-bottom: 0;
    border-radius: 0.2rem;
    background: white;
    /*width: 100%;*/
    opacity: 0.9;

    -webkit-box-shadow: 0 0 1.0rem 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
    /*border: 1px solid green;*/
}

.details {
    position: relative;
    margin-top: 0;
    border-radius: 0 0 0.2rem 0.2rem;
    z-index: 11;
    background: white;
    opacity: 1;
    text-align: center;
    padding-bottom: 3rem;
}

.details span {
    display: inline-block;
    font-family: 'Catamaran', sans-serif;
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header {
    position: relative;
    display: table;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: white;

    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #34495E;
    border-radius: 0.2rem 0.2rem 0 0;
    font-size: 2rem;

    z-index: 2;

    -webkit-box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.75);
}

.problemDiv {
    z-index: 1;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 5rem;
    /*padding-bottom: 10px;*/
    border-top: 0.1rem solid rgb(240, 240, 240);
}

.ch1 {
    width: 10%;
    left: 0;
}

.ch2 {
    width: 30%;
    left: 10%;
}

.ch3 {
    width: 30%;
    left: 40%;
}

.ch4 {
    width: 29%;
    left: 70%;
}

.problemDiv a {
    position: absolute;
    padding: 0;
    line-height: 5rem;
    display: inline-block;
    text-align: center;
    height: 100%;
}

.problemDiv span {
    position: absolute;
    padding: 0;
    line-height: 5rem;
    display: inline-block;
    text-align: center;
    height: 100%;
}

.detailsRow {
    font-size: 1.4rem;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 3rem;
    background: white;
    /*padding-bottom: 10px;*/
    text-align: center;
    border: 0;
}

.detailsRow span {
    /*position: absolute;*/
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    padding: 0;
    line-height: 3rem;
    display: inline-block;
    text-align: center;
    height: 100%;
}

.detailsRow .sh1 {
    text-align: left;
    /*float: left;*/
    width: 30rem;
    /*left: 0;*/
}

.detailsRow .sh2 {
    text-align: left;
    width: 20rem;
    cursor: pointer;
}

.detailsRow .sh3 {
    text-align: left;
    width: 15rem;
}

.myProgress {
    margin-top: 0.8rem;
    position: relative;
    width: 100%;
    height: 2rem;
    background-color: #ddd;
}

.myBar {
    /*margin-top: 0.5rem;*/
    position: absolute;
    /*width: 50%;*/
    height: 100%;
    background-color: #4CAF50;
}

a:link, a:visited, a:active {
    color: #2962C2;
    text-decoration: none;
}

a:hover {
    /*text-decoration: underline;*/
}

.handleLink:link, .handleLink:visited, .handleLink:active {
    font-family: 'Catamaran', sans-serif;
    font-size: 2.5rem;
    color: whitesmoke;
    text-decoration: none;
}

.handleLink:hover {
    text-decoration: underline;
}

body {
    /*font-family: Tahoma;*/
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 7px;
    min-height: 50rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background-image: url('https://graygrids.com/demos/snippets/startup-fw-pricing-table/assets/img/bg.jpg');*/
    background-image: url("https://i.ytimg.com/vi/Q3_fuZVyFtY/maxresdefault.jpg");
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 9px;
}